# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
    
* Matplotlib
* TensorFlow
* Pandas
* Seaborn
* NymPy

Data Science Tools|
------------------|
Jupyter Notebook|
VS Code|
Google Colab|
RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

10+5=15

4*8=32

120/5=24

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
minunes_in_hour = 60
hours = minutes/minunes_in_hours
print(hours)

3.3333333333333335

Objectives:

* Python
* R
* SQL

Author
## Vladyslav